spring:
  application:
    name: spring-boot-basics-kotlin

quotes:
  search:
    ignore-case: true
    min-length: 3
  validation:
    min-content-length: 5
    max-content-length: 500
    require-author: true
    allowed-categories:
      - "motivational"
      - "funny"
      - "tech"
      - "wisdom"

server:
  port: 8090